/*navbar style*/
	header{
		position: relative;
		background:linear-gradient(#000000cc,#000000cc), url("http://digitalspyuk.cdnds.net/17/28/980x490/landscape-1499785257-stranger-things-2-poster-crop.jpg");
    background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 20px;
	}

	/*reseting bootstrap a tag*/
		nav a,nav a:hover{
			text-decoration: none;
			color: #eee;
		}
		.card{
			border: 0px;
			padding: 0;
			margin:0 0.7vw;
		}
		.container{
			padding: 0px;
		}
		.row{
			margin-left: 0px;
			margin-right: 0px;
		}
	/**/
		ul{
			list-style-type: none;
	    padding: 0;
	    margin: 0;
	    overflow: hidden;
			float: right;
		}
		.logo{
			float: left;
			font-size: 28px;
			font-weight: bold;
			font-family: sans-serif;
			letter-spacing: 5px;
			padding: 8px 20px;
			cursor: pointer;
		}
		li{
			float: left;
	    padding: 10px 0px 5px;
	    margin: 10px 10px;
		}
		li:hover{
			border-bottom: 1px solid #32bf91;
		}
		li a{
	    font-size: 18px;
			padding: 10px;
		}
		.active{
			border-bottom: 1px solid #32bf91;
		}
		#more{
			display: none;
			font-size: 20px;
	    margin: 10px;
	    float: right;
	    padding: 5px 10px;
	    border-radius: 30px;
	    cursor: pointer;
			color: #eee;
		}
		#more:hover{
			background-color: #32bf91;
		}
		/*responsive*/
		@media only screen and (max-width: 780px) {
			.logo{
				display: none;
			}
			li{
				float: none;
				display: inline-block;
			}
			ul{
				float: none;
				text-align: center;
				font-size: 0px;
			}
		}
		@media only screen and (max-width: 625px) {
			.logo{
				float: none;
				display: inline-block;
			}
			li{
				display: none;
				clear: both;
				margin: 10px 40%;
				border: 1px solid transparent;
			}
			ul{
				text-align: center;
		    font-size: 0px;
		    width: 100%;
		    position: absolute;
		    background: #444444ee;
			}
			#more{
				display: block;
			}
			.show{
				display: block;
			}
		}

/**/

/*welcome section style*/
	div.welcome-msg{
		color: #efefef;
    font-size: 36px;
	}
	section.welcome{
    padding: 200px 7vw;
	}
	span.bold{
		font-weight: bold;
	}

	.btns_container{
		text-align: center;
    margin-top: 150px;
	}
	.btn {
    margin: 0 40px;
    padding: 10px 30px;
    border-radius: 0;
    transition: 200ms ease-in-out;
		border: 2px solid #ddd;

	}
	.main_btn {
    border: 2px solid #32bf91;
    color: #eee;
    background: transparent;
    border-radius: 100px;
	}
	.main_btn:hover {
    background-color: #32bf91;
    border-radius: 0px;
	}
	.sec_btn:hover {
    background-color: #32bf91;
		border-radius: 100px;
		border-color: #32bf91;
		color: #eee;
	}

/*responsive*/
@media only screen and (max-width: 780px) {
	div.welcome-msg{
		font-size: 24px;
	}
}

@media only screen and (max-width: 625px) {
	div.welcome-msg{
		font-size: 16px;
	}
	.btn{
		margin: 0 1.7vw;
	}

}
.donate_btns_container{
	margin-top: 20px;
}
/*  */

/* latest_movies sec */

h2.sec_title{
	text-align: center;
	font-size: 3vw;
}

.line{
	width: 6%;
	height: 2px;
	background: #ddd;
	text-align: center;
	margin-left: 47%;
	margin-bottom: 10vw;
}
.cards{
  margin-bottom: 10vw;

}
.movie_name{
	text-align: center;
	background-color: #eee;
	padding: 5px;
}
.card:hover{
	box-shadow: 0px 5px 20px 0px #4c5a5d36;
}
.card:hover, .heart_container img:hover{
	z-index: 2;
	-webkit-transition: all 250ms ease-in-out;
	-webkit-transform: scale(1.17);
	-ms-transition: all 250ms ease-in-out;
	-ms-transform: scale(1.17);
	-moz-transition: all 250ms ease-in-out;
	-moz-transform: scale(1.17);
	transition: all 250ms ease-in-out;
	transform: scale(1.17);
}
.card, .heart_container img{
	-webkit-transition: all 250ms ease-in-out;
  -webkit-transform: scale(1);
  -ms-transition: all 250ms ease-in-out;
  -ms-transform: scale(1);
  -moz-transition: all 250ms ease-in-out;
  -moz-transform: scale(1);
  transition: all 250ms ease-in-out;
  transform: scale(1);
	cursor: pointer;
}
.card img{
  height: 30vw;
}

/*responsive*/
@media only screen and (max-width: 780px) {
	h2.sec_title{
		font-size: 4vw;
	}
}
@media only screen and (max-width: 625px) {
	h2.sec_title{
		font-size: 5.5vw;
	}
}
@media only screen and (max-width: 400px) {
	h2.sec_title{
		font-size: 6vw;
	}
}
/*  */

/* donate sec */
.donate_text_container{
  margin-top: 20px;
}
.donate_text_container p{
	margin-left: 4vw;
	margin-top: 5vw;
	word-spacing: 5px;
	line-height: 3vw;
	font-size: 1.7vw;
}
.donate_text_container h4{
	font-size: 2vw;
}
.donate_btn{
	color: #222;
}
.donate_btn:hover{
	color:#eee;
}

@media only screen and (max-width:780px) {
	.donate_text_container h4{
		font-size: 2.5vw;
	}
	.donate_text_container p{
		font-size: 1.7vw;
	}
}
@media only screen and (max-width:625px) {
	.donate_text_container h4{
		font-size: 3vw;
	}
	.donate_text_container p{
		font-size: 2vw;
	}
}
@media only screen and (max-width:500px) {
	.donate_text_container h4{
		font-size: 4vw;
	}
	.donate_text_container p{
		font-size: 2.7vw;
	}
}

@media only screen and (max-width:350px) {
	.donate_text_container h4{
		font-size: 4vw;
	}
	.donate_text_container p{
		font-size: 3vw;
	}
}
/* footer */


footer{
	padding: 50px 0 5px;
  margin-top: 50px;
  background: #eee;
}

.center_container{
	text-align: center;
  margin-bottom: 50px;
}

.quote{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
.follow{
	margin-bottom: 20px;
}
.social_container{
	font-size: 4.5vw;
	margin-bottom: 25px;
}

.social_container i {
  margin: 0 5vw;
}

.simple_nav{
  font-size: 18px;
}

.credits_container{
	overflow: hidden;
	margin: 0 50px;
	font-size: 14px;
	padding-bottom: 20px;
}

.copyrights{
	float: left;
}
.author{
	float: right;
}



@media only screen and (max-width:500px) {
	.author, .copyrights{
		font-size: 2.5vw;
	}

}
@media only screen and (max-width:400px) {
	.author, .copyrights{
		font-size: 2.4vw;
	}

}











/*  */
