/*  */
header{
  background-color: #ccc;
}
ul{
  list-style-type: none;
  padding: 0;
  margin:0;
  overflow: hidden;
}
li{
  float: left;
  padding: 15px 30px;
  cursor: pointer;
}
li:hover{
  background-color: #eee;
}
a, a:hover{
  text-decoration: none;
  color: black;
}
