section.welcome{
  padding: 200px 7vw;
  @include welcome-r;
}

div.welcome-msg{
  color: $white;
  font-size: 36px;
}
span.bold{
  font-weight: bold;
}
.btns_container{
  text-align: center;
  margin-top: 150px;
}
.btn {
  @include btn;
}
.main_btn {
  @include main-btn;
}
.sec_btn{
  @include sec-btn;
}
