// nav
@mixin logo-r($isRes) {
  @if $isRes == true {
    @media only screen and (max-width: 780px) {
        display: none;
    }
    @media only screen and (max-width: 625px) {
        float: none;
        display: inline-block;
    }
  }
}
@mixin nav-r($isRes) {
  @if $isRes == true {
    @media only screen and (max-width: 780px) {
      li{
        float: none;
        display: inline-block;
      }
      ul{
        float: none;
        text-align: center;
      }
    }
    @media only screen and (max-width: 625px) {
      li{
        display: none;
        clear: both;
        margin: 10px 40%;
        border: 1px solid transparent;
      }
      ul{
        text-align: center;
        font-size: 0px;
        width: 100%;
        position: absolute;
        background: $half-darken;
      }
      #more{
        display: block;
      }
      .show{
        display: block;
      }
    }
  }
}

//welcome
@mixin welcome-r {
  @media only screen and (max-width: 780px) {
  	.welcome-msg{
  		font-size: 24px;
  	}
  }
  @media only screen and (max-width: 625px) {
  	.welcome-msg{
  		font-size: 16px;
  	}
  	.btn{
  		margin: 0 1.7vw;
  	}

  }
}
